header {
  width: 86vw;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  padding-bottom: 4vh;
}
.nav-Header {
  font-weight: 500;
  width: 21.5vw;
  display: flex;
  justify-content: space-around;
}
.links {
  color: #ff6060;
  font-size: 24px;
  text-decoration: none;
}
.logo-Header {
  width: 14, 6vw;
}
.selected {
  text-decoration: underline;
}
