header{
    width: 86vw;
    display: flex;
    justify-content: space-between;
 margin-left: auto;
    margin-right: auto;

}
.nav-Header{
    color: #FF6060;
font-size: 24px;
font-weight: 500;
    width: 21.5vw;
    display: flex;
     justify-content: space-around;

}
.logo-Header{
    width: 14,6vw;
}